<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {{/*  Needs to rework  */}}
  {{ $js := "js/main.bundle.js" | relURL }}
  <script src="{{ $js }}"></script>

  {{ $css := "css/bootstrap.min.css" | absURL }}
  <link rel="stylesheet" href="{{ $css }}">

  {{ $title := print .Title " | " .Site.Title }}
  {{ if .IsHome }}
  {{ $title = .Site.Title }}
  {{ end }}
  <title>{{ $title }}</title>
  {{ partial "style.html" . }}

  {{ if .IsTranslated }}
  <nav class="LangNav">
    {{ range .Translations }}
    <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
    {{ end}}
  </nav>
  {{ end }}


</head>